{% extends 'base.html' %}
{% load bootstrap3 %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block header %}
    <h1>{{ page_title }} von {{ user.first_name }}TEST</h1>
{% endblock %}

{% block content %}
    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">
        {% csrf_token %}

        {% bootstrap_form form layout='horizontal'%}

        <div class="form-group">
            <div class="col-md-offset-3 col-sm-12 col-md-9">
                <button type="submit" class="btn btn-primary">Änderungen speichern</button>
            </div>
        </div>
    </form>
{% endblock %}