{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal'%}

        <div class="form-group">
            <div class="col-md-offset-3 col-sm-12 col-md-9">
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="{% url 'password_reset' %}" class="btn btn-default">Passwort vergessen?</a>
            </div>
        </div>
    </form>
{% endblock %}