{% extends 'base.html' %}
{% load bootstrap3 %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block header %}
    <h1>{{ page_title }} von {{ user.first_name }}</h1>
{% endblock %}

{% block content %}
    <p>Username: {{ user }}</p>
    <p>Vorname: {{ user.first_name }}</p>
    <p>Nachname: {{ user.last_name }}</p>
    <p>E-Mail-Adresse: {{ user.email }}</p>
    <hr>
    <a href="{% url 'editProfile' %}" class="btn btn-primary">Profil bearbeiten</a>
{% endblock %}