<!DOCTYPE html>
<html lang="de">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block page_title %}
            Heizungs-Verbrauchs-Protokoll
        {% endblock %}
    </title>
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <br>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">HVP</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% if user.is_authenticated %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">{% bootstrap_icon 'user' %} {{ user.username }} <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'householdList' %}">Haushalte</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'viewProfile' %}">Profil ansehen</a></li>
                                        <li><a href="{% url 'changePassword' %}">Passwort ändern</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">{% bootstrap_icon 'user' %} Anmelden <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        <li role="separator" class="divider"></li>
                                         <li><a href="{% url 'register' %}">Registrieren</a></li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% block header %}
            {% endblock %}
            <hr>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            {% bootstrap_messages %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>

<footer>
    <div class="container">
        <div class="row">
            {% block footer %}
            {% endblock %}
        </div>
    </div>

</footer>

{% bootstrap_javascript %}
</body>
</html>