{% extends 'base.html' %}
{% load bootstrap3 %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block header %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block content %}
    <a href="{% url 'householdList' %}" class="btn btn-default">{% bootstrap_icon 'chevron-left' %} Zurück zur Liste</a>
    <a href="{% url 'addEntry' hh_id %}" class="btn btn-primary">Eintrag hinzufügen</a>
    <a href="{% url 'addManyEntries' hh_id %}" class="btn btn-danger">Viele Einträge erzeugen</a>
    <hr>
    {% if entries %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Datum</th>
                <th>Zählerstand</th>
                <th>Haushalt</th>
                <th>Bearbeiten</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.meter_reading }}</td>
                    <td>{{ entry.household }}</td>
                    <td>
                        <a href="{% url 'editEntry' hh_id entry.id %}">{% bootstrap_icon 'edit' %}</a>&emsp;
                        <a href="{% url 'deleteEntry' hh_id entry.id %}" class="text-danger">{% bootstrap_icon 'trash' %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        Noch keine Zählerstände erfasst.
    {% endif %}
{% endblock %}