{% extends 'base.html' %}
{% load bootstrap3 %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block header %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block content %}
    <h2>Eigene Haushalte</h2>
    <a href="{% url 'addHousehold' %}" class="btn btn-primary">Haushalt hinzufügen</a>
    <hr>
    {% if hh %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Adresse</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for hh in hh %}
                <tr>
                    <td><b>{{ hh.name }}</b></td>
                    <td>{{ hh.street }} {{ hh.street_no }} in {{ hh.zip }} {{ hh.place }}</td>
                    <td>
                        <a href="{% url 'entriesList' hh.id %}" class="btn btn-success btn-sm">
                            {% bootstrap_icon 'list' %} Liste anzeigen
                        </a>
                        <a href="{% url 'detailHousehold' hh.id %}" class="btn btn-primary btn-sm">
                            {% bootstrap_icon 'stats' %} Statistiken
                        </a>
                        <a href="{% url 'editHousehold' hh.id %}" class="btn btn-info btn-sm">
                            {% bootstrap_icon 'edit' %} Bearbeiten
                        </a>
                        <a href="{% url 'deleteHousehold' hh.id %}" class="btn btn-danger btn-sm">
                            {% bootstrap_icon 'edit' %} Löschen
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        Keine eigenen Haushalte angelegt.
    {% endif %}
    <hr>
    <h2>Zu Haushalten eingeladen</h2>
    {% if hh_guest %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Adresse</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for hh in hh_guest %}
                <tr>
                    <td><b>{{ hh.name }}</b></td>
                    <td>{{ hh.street }} {{ hh.street_no }} in {{ hh.zip }} {{ hh.place }}</td>
                    <td>
                        <a href="{% url 'entriesList' hh.id %}" class="btn btn-success btn-sm">
                            {% bootstrap_icon 'list' %} Liste anzeigen
                        </a>
                        <a href="{% url 'editHousehold' hh.id %}" class="btn btn-primary btn-sm">
                            {% bootstrap_icon 'stats' %} Statistiken
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        Keine anderen Haushalte.
    {% endif %}
{% endblock %}