{% extends 'base.html' %}
{% load bootstrap3 %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block header %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block content %}
    {% if latest_mr %}
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <b>Zählerstand</b>
                    </div>
                    <div class="panel-body">
                        <h3>{{ latest_mr.meter_reading }} m³</h3>
                    </div>
                    <div class="panel-footer">vom {{ latest_mr.date }}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <b>7-Tage-&Oslash;</b>
                    </div>
                    <div class="panel-body">
                        {% if avg_consumption_7 %}
                            <h3>{{ avg_consumption_7|floatformat:"3" }} m³</h3>
                        {% else %}
                            <h3>Nicht genügend Daten vorhanden.</h3>
                        {% endif %}
                    </div>
                    <div class="panel-footer">{{ entry_7_days_ago.date }}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <b>30-Tage-&Oslash;</b>
                    </div>
                    <div class="panel-body">
                        {% if avg_consumption_30 %}
                            <h3>{{ avg_consumption_30|floatformat:"3" }} m³</h3>
                        {% else %}
                            <h3>Nicht genügend Daten vorhanden.</h3>
                        {% endif %}
                    </div>
                    <div class="panel-footer">{{ entry_30_days_ago.date }}</div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Es wurden noch keine Zählerstände erfasst.</p>
    {% endif %}
    <hr>
    <a href="{% url 'householdList' %}" class="btn btn-default">{% bootstrap_icon 'chevron-left' %} Zurück zur Liste</a>
    <a href="{% url 'editHousehold' hh_id %}" class="btn btn-info">{% bootstrap_icon 'edit' %} Haushalt Bearbeiten</a>
    <a href="{% url 'entriesList' hh_id %}" class="btn btn-success">{% bootstrap_icon 'list' %} Liste anzeigen</a>
{% endblock %}