{% extends 'base.html' %}
{% load bootstrap3 %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block header %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'householdList' %}" class="btn btn-primary">Haushalte verwalten</a>
    <hr>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary">Anmelden</a>
    <a href="{% url 'register' %}" class="btn btn-primary">Registrieren</a>
    <hr>
    {% endif %}
{% endblock %}